<IfModule mod_rewrite.c>
    RewriteEngine On
    SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0

    # Redirect all unknown subdomains to www
    RewriteCond %{HTTP_HOST} !^www\.factorio-item-browser\.com$
    RewriteRule ^(.*)$ https://www.factorio-item-browser.com/$1 [R=307,L]

    # Serve actually existing files
    RewriteCond %{REQUEST_FILENAME} -s [OR]
    RewriteCond %{REQUEST_FILENAME} -l [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^.*$ - [NC,L]

    # Rewrite everything else to index.html
    RewriteCond %{REQUEST_URI}::$1 ^(/.+)(.+)::\2$
    RewriteRule ^(.*) - [E=BASE:%1]
    RewriteRule ^(.*)$ %{ENV:BASE}index.html [NC,L]
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On

    ExpiresByType application/javascript "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType text/css "access plus 1 month"
</IfModule>
