@import "../../../style/import";

.settings-button {
    @include dynamic-spacing(padding, small default);

    align-items: center;
    display: flex;
    font-weight: bold;
    position: relative;
    text-align: left;

    .link-icon {
        align-items: center;
        display: flex;
        flex-shrink: 1;
        font-size: $icon-size-small;
        height: $icon-size-default;
        width: $icon-size-default;

        svg {
            margin: 0;
        }
    }

    .label {
        @include dynamic-spacing(margin-left, default);

        flex-grow: 1;
        font-weight: bold;
    }
}
