@import "../../../style/variable/all.scss";
@import "../../../style/mixin/all.scss";

.option {
    @include dynamic-spacing(margin, default);

    box-shadow: $shadow-box;
    position: relative;

    .option-chevron {
        @include dynamic-spacing(right top, default);

        color: color($color-box-default, $lightness-text-primary);
        font-size: $text-size-option;
        pointer-events: none;
        position: absolute;
    }

    .option-head {
        background: $color-box-default;
        color: color($color-box-default, $lightness-text-primary);
        display: flex;
        align-items: center;


        select, h3 {
            @include dynamic-spacing(padding, default);

            font-size: $text-size-option;
            font-weight: bold;
        }

        h3 {
            border-right: px-to-rem(1) solid color($color-box-default, $lightness-box-border, $alpha-box-border);
            text-align: right;
            flex-basis: 16rem;
        }

        select {
            appearance: none;
            background: $color-highlight;
            border: none;
            color: color($color-highlight, $lightness-text-primary);
            cursor: pointer;
            flex-grow: 1;
            outline: none;

            option {
                background: $color-box-default;
                color: color($color-box-default, $lightness-text-primary);
                font-size: 1rem;
                font-weight: normal;
            }

            &:active {
                border: none;
            }
        }
    }

    .option-description {
        @include dynamic-spacing(padding, default);

        background: color($color-box-default, $lightness-box-background, $alpha-box-content);
        border-top: px-to-rem(1) solid color($color-box-default, $lightness-box-border, $alpha-box-border);
        color: color($color-box-default, $lightness-text-primary);
    }
}
