@import "../../../style/import";

.save-button {
    @include dynamic-spacing(margin, default large);
    @include dynamic-spacing(bottom, large);
    @include button();

    position: sticky;
    z-index: $zIndex-sticky-button;

    svg {
        margin: 0 $spacing-default;
    }
}
