@import "../../style/import";

.copy-template {
    cursor: pointer;

    .label {
        font-weight: bold;
    }

    .template {
        margin: 0 $spacing-default;

        font-family: monospace;
        font-size: 1rem;
    }

    .description {
        display: block;
        font-size: $text-size-small;
        padding-top: $spacing-tiny;
    }
}
