@import "../../style/mixin/all";
@import "../../style/variable/all";

.loading-circle {
    align-items: center;
    background: color($color-box-default, $lightness-box-background, $alpha-loading-circle);
    display: flex;
    font-size: $icon-size-default;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    z-index: $zIndex-loading-circle;
}
