{
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "plugins": [
        "react",
        "prettier"
    ],
    "env": {
        "browser": true,
        "es6": true
    },
    "rules": {
        "prettier/prettier": "error"
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "./webpack.config.js"
            }
        },
        "react": {
            "version": "detect"
        }
    }
}
