@import "../../style/import";

.random-items {
    position: relative;
    .randomize {
        bottom: 0;
        cursor: pointer;
        font-size: $text-size-default;
        position: absolute;
        right: 0;
        text-align: right;

        svg {
            filter: drop-shadow($shadow-label);
            margin-right: $spacing-default;
        }
    }

    .entity-list > .entity {
        @include breakpoint(large) {
            flex-basis: calc(33.33% - 2 * #{$spacing-default});
        }
        @include breakpoint(huge) {
            flex-basis: calc(25% - 2 * #{$spacing-default});
        }
    }
}
