@import "../../../style/import";

.recipe-item {
    @include dynamic-spacing(padding, small);

    align-items: center;
    background: rgba($color-box-default, $alpha-box-content);
    border-top: px-to-rem(1) solid color($color-box-default, $lightness-box-border, $alpha-box-border);
    display: flex;
    font-weight: bold;

    .amount {
        flex-basis: 4rem;
        flex-shrink: 0;
        padding-right: $spacing-default;
        text-align: right;
    }

    .icon {
        flex-shrink: 0;
    }

    .label {
        flex-grow: 1;
        padding-left: $spacing-default;
    }
}

.recipe-details.expensive .recipe-item {
    background: color($color-recipe-expensive, $lightness-box-background, $alpha-box-content);
    border-top-color: color($color-recipe-expensive, $lightness-box-border, $alpha-box-border);
}
