@import "../../../style/import";

.external-link-icons {
    bottom: 0;
    position: absolute;
    padding: $spacing-default;
    right: 0;
    text-align: right;

    .label {
        @include transition-default(opacity);

        color: $color-footer-text;
        font-size: $text-size-small;
        font-weight: bold;
        opacity: $alpha-input-focused;
        text-shadow: $shadow-text;

        &:empty {
            opacity: 0;
        }
    }

    a {
        @include transition-default(opacity);

        color: $color-footer-text;
        font-size: $icon-size-default;
        height: $icon-size-default;
        opacity: $alpha-input-default;
        width: $icon-size-default;

        &:hover, &:active {
            color: $color-footer-text;
            opacity: $alpha-input-focused;
        }
    }
}
