@import "../../style/mixin/all";
@import "../../style/variable/all";

.status-box {
    @include dynamic-spacing(margin, large);

    align-items: center;
    background: $color-status-default;
    box-shadow: $shadow-box;
    color: color($color-status-default, $lightness-text-primary);
    display: flex;

    .status-icon {
        @include dynamic-spacing(padding, default);

        flex-shrink: 1;
        text-align: center;
        width: ($text-size-setting-status-icon + $spacing-large);

        svg {
            font-size: $text-size-setting-status-icon;
        }
    }

    .status-text {
        @include dynamic-spacing(padding, default default default 0);

        flex-grow: 1;

        h3 {
            font-size: $text-size-default;
            font-weight: bold;
        }
    }

    &.error {
        background: $color-status-error;
        color: color($color-status-error, $lightness-text-primary);
    }
    &.success {
        background: $color-status-success;
        color: color($color-status-success, $lightness-text-primary);
    }
    &.warning {
        background: $color-status-warning;
        color: color($color-status-warning, $lightness-text-primary);
    }
}

