@import "../../style/mixin/all";
@import "../../style/variable/all";

.compact-recipe-separator {
    @include dynamic-spacing(margin, default);

    border: 1px solid transparent;
    font-size: $icon-size-default;
    height: $icon-size-default;
    position: relative;
    text-align: center;
    width: $icon-size-default;

    .time {
        bottom: px-to-rem(-5);
        color: color($color-box-default, $lightness-shadowed-label-text);
        font-size: $text-size-label;
        font-weight: bolder;
        left: ($icon-size-default / -2);
        pointer-events: none;
        position: absolute;
        right: ($icon-size-default / -2);
        text-shadow: $shadow-label;

        @include breakpoint(large) {
            bottom: px-to-rem(-10);
        }
    }
}
