@import "../../style/mixin/all";
@import "../../style/variable/all";

.machine-details {
    background: rgba(color($color-box-default, $lightness-box-background), $alpha-box-content);
    border-top: px-to-rem(1) solid rgba(color($color-box-default, $lightness-box-border), $alpha-box-border);
    color: color($color-box-default, $lightness-text-primary);
    line-height: $text-size-default;
    padding: $spacing-small $spacing-default;

    &.character-notice {
        font-size: $text-size-small;
        line-height: $text-size-small;
    }

    .machine-detail {
        display: flex;

        .label {
            display: inline-block;
            flex-basis: 200px;
            flex-grow: 1;
            text-align: right;
        }

        .value {
            font-weight: bold;
            flex-basis: 200px;
            flex-grow: 1;
            padding-left: $spacing-small;
            text-align: left;
        }
    }
}
