@import "../../style/import";

.mod-entity {
    display: flex;
    position: relative;

    .mod-icon {
        align-items: center;
        background: color($color-box-default, $lightness-box-background);
        display: flex;
        flex-shrink: 1;
        padding: $spacing-small;

        .icon {
            height: 6rem;
            width: 6rem;
        }
    }

    .mod-content {
        background: color($color-box-default, $lightness-box-background, $alpha-box-content);
        flex-grow: 1;
    }

    .external-link-icon {
        @include dynamic-spacing(bottom right, default);
        @include transition-default(color);

        color: color($color-box-default, $lightness-text-primary, 0.5);
        position: absolute;
    }

    &:hover .external-link-icon {
        color: color($color-box-default, $lightness-text-primary);
    }
}

.mod-details {
    border-top: px-to-rem(1) solid color($color-box-default, $lightness-box-border, $alpha-box-border);
    border-left: px-to-rem(1) solid color($color-box-default, $lightness-box-border, $alpha-box-border);
    color: color($color-box-default, $lightness-text-primary);
    line-height: $text-size-default;
    padding: $spacing-default;

    .mod-detail {
        display: flex;

        .label {
            display: inline-block;
            flex-basis: 100px;
            flex-shrink: 0;
            text-align: right;
        }

        .value {
            font-weight: bold;
            flex-grow: 1;
            padding-left: $spacing-small;
            text-align: left;
        }
    }
}
