@import "../../style/import";

header {
    @include flex-container();
    @include flex-container-align(center, center);

    background-color: $color-water;
    min-height: 5rem;
    position: relative;

    &::after {
        bottom: px-to-rem(-12);
        content: '';
        display: block;
        pointer-events: none;
        position: absolute;
        left: 0;
        right: 0;
    }

    @include breakpoint(large) {
        min-height: 6rem;
    }

    &.big {
        display: block;
        padding: 4rem 1rem;
        text-align: center;

        @include breakpoint(medium) {
            padding: 6rem 1rem;
        }
        @include breakpoint(large) {
            padding: 8rem 1rem;
        }
    }
}
