@import "../../../../style/import";

.option {
    @include dynamic-spacing(margin, default);

    box-shadow: $shadow-box;
    position: relative;

    .chevron {
        @include dynamic-spacing(top, default);

        color: color($color-input, $lightness-text-primary);
        font-size: $text-size-option;
        pointer-events: none;
        position: absolute;
        right: $spacing-default;
    }

    .head {
        background: $color-box-default;
        color: color($color-box-default, $lightness-text-primary);
        display: flex;
        align-items: center;

        h3 {
            @include dynamic-spacing(padding-top padding-bottom, default);

            border-right: px-to-rem(1) solid color($color-box-default, $lightness-box-border, $alpha-box-border);
            text-align: right;
            flex-basis: 16rem;
            font-size: $text-size-option;
            font-weight: bold;
            padding-left: $spacing-default;
            padding-right: $spacing-default;
        }

        .input {
            flex-grow: 1;
            position: relative;
        }

        .static-value {
            @include dynamic-spacing(padding, default);

            cursor: pointer;
            font-size: $text-size-option;
            font-weight: bold;
        }

        select, input[type=text] {
            @include dynamic-spacing(padding, default);
            @include transition-default(background-color);

            background: color($color-input, $lightness-input-background);
            border: none;
            color: color($color-input, $lightness-input-text);
            font-size: $text-size-option;
            font-weight: bold;
            width: 100%;

            &:hover, &:focus, &:active {
                background: color($color-input, $lightness-input-background-hover);
            }
        }

        input[type=text] {
            padding: $spacing-small $spacing-default;

            @include breakpoint(large) {
                padding: $spacing-default ($spacing-default + $spacing-small);
            }
        }

        select {
            appearance: none;
            cursor: pointer;
            outline: none;

            &:active {
                border: none;
            }

            option {
                background: $color-box-default;
                color: color($color-box-default, $lightness-text-primary);
                font-size: 1rem;
                font-weight: normal;
            }
        }

        // Display label and option on top of each other in small viewports because they do not have room horizontally.
        @include breakpoint-until(medium) {
            flex-wrap: wrap;

            h3 {
                border-right: none;
                border-bottom: px-to-rem(1) solid color($color-box-default, $lightness-box-border, $alpha-box-border);
                flex-basis: 100%;
                text-align: left;
            }
        }
    }

    .description {
        @include dynamic-spacing(padding, default);

        background: color($color-box-default, $lightness-box-background, $alpha-box-content);
        border-top: px-to-rem(1) solid color($color-box-default, $lightness-box-border, $alpha-box-border);
        color: color($color-box-default, $lightness-text-primary);
    }

    &.error {
        .input, input[type=text], select {
            background: color($color-input-error, $lightness-input-background);
            color: color($color-input-error, $lightness-input-text);

            &:hover, &:focus {
                background: color($color-input-error, $lightness-input-background-hover);
            }
        }
    }
}
