@import "../../../style/import";

.savegame-file-input {
    label {
        @include dynamic-spacing(margin padding, large);
        @include transition-default(background-color);

        background: color($color-button-primary, $lightness-button-primary-background);
        box-shadow: $shadow-box;
        color: color($color-button-primary, $lightness-button-text);
        cursor: pointer;
        display: block;
        font-size: $text-size-headline-small;
        font-weight: bold;
        text-align: center;

        @include breakpoint(large) {
            font-size: $text-size-large;
        }

        &:hover {
            background: color($color-button-primary, $lightness-button-primary-background-hover);
        }

        svg {
            margin-right: $spacing-default;
        }
    }

    &.is-dragged-over {
        label {
            background: color($color-button-primary, $lightness-button-primary-background-hover);
        }
    }
}
