@import "../style/mixin/all";
@import "../style/variable/all";

html, body {
    height: 100%;
    min-width: 320px;
}

#app {
    background-color: $color-concrete;
    min-height: 100%;
    position: relative;
}
